* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/914ad279-199e-4095-9c10-2409dc9e5e1b/web/IN-en-20250519-TRIFECTA-perspective_8f1ca896-9e49-4a4e-90f0-22fc49650bd9_large.jpg");
  height: 125vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px 100px);
  width: 100%;
  position: relative;

}

.main {
  height: 125vh;
  width: 100%;
  top: 0;
  opacity: 0.64;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.993);
}


nav {
  background-color: rgba(24, 24, 24, 0.347);
  filter: brightness(150%);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.language-selector {
  display: inline-flex;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-family: Arial, sans-serif;
}

.language-selector .icon {
  margin-right: 6px;
  font-size: 16px;
}

.language-selector select {
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 14px;
  appearance: none;
  outline: none;
}


.logo {
  justify-content: center;
  opacity: 1;
  margin: 12px; 
  width: 12.25rem;
  height: 2.5rem;
  color: rgb(229, 24, 9);
  fill: currentColor;
  display: block;

}
.signin {
  background-color: red;
  border-radius: 0.5rem;
  width: 74px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  cursor: pointer;
}

.signin:hover {
  box-shadow: .8px 1.2px 20px .5px #0cee22;
  /* background-color: rgb(218, 239, 57);
    color:rgb(248, 5, 5); */
  font-size: 15px;
  font-weight: 300;
}

.hero {
  margin-top: 160px;
  filter: contrast(12);
  filter: brightness(300%);
  display: flex;
  height: 100%;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(254, 252, 252);
  filter: brightness(110%);
  position: relative;
  opacity: 1;
  gap: 1px;
}


.hero .text1 {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  display: block;
  font-weight: bold;

}

.hero .text3 {
  text-align: center;
  font-size: 1.55rem;
  font-weight: 500;
  margin-top: 15px;
}

.hero .text2 {
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;

}

.hero .text4 {
  text-align: center;
  margin-top: 18px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.email input {
  margin: 12px;
  padding: 14px;
  width: 300px;
  background-color: black;
  color: white;
  opacity: 0.62;
  filter: brightness(120%);
  font-weight: 200;
  border-radius: 10px;
  font-size: 15px;

}

.email button {
  margin: 12px;
  padding: 14px;
  width: 150px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

.email button:hover {
  /* background-color: rgba(247, 150, 15, 0.829); */
  color: rgb(250, 247, 247);
  transform: scale(1.025);
  
  font-size: 18px;
  box-shadow: 2px 2px 12px 8px #e6c10bc7;
}

.email input:hover {
  box-shadow: 2px 2px 14px 8px #e6c20bc7;
  color: rgba(247, 245, 245, 0.988);
}

.box2 {

  margin-top: 6.35rem;
  opacity: 1;
  z-index: 1;
  position: relative;
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  border-top-left-radius: 240px 40px;
  border-top-right-radius: 240px 40px;
  border-top: 5px solid rgba(85, 2, 2, 0.823);
  background: linear-gradient(to right, rgb(18, 6, 36) 16%, rgb(3, 2, 8), rgb(19, 7, 36), rgb(13, 4, 23), rgb(10, 5, 26) 84%);
}

.box2 .posters {
  /* border:2px solid red; */
  padding: 123px;
  position: relative;
  left: 122px;
  width: 60vw;
  height: 20vh;
  margin-top: 120px;

}
.trend {
  opacity: 4;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  position: relative;
  bottom: 120px;
  right: 100px;
}
.posters .image1 {
  position: absolute;
  top: 2.85rem;
  left: 2rem;
  bottom: 15px;
  right: 0;
  display: flex;
  gap: 20px;
  border-radius: 0.5rem;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow: auto auto;
  scrollbar-width: none;
  z-index: 2;
  cursor: pointer;

}

.image1 .img1:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img2:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img3:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img4:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img5:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img6:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img7:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img8:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img9:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.image1 .img10:hover {
  transform: scale(1.075);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.more_about {
  /* border:2px solid red; */
  padding: 20px;
  margin: 23px;
  position: relative;
  width: 75vw;
  left: 120px;
  height: 80vh;


}

.more_about h4 {
  position: relative;
  top: -1.4px;
  color: white;
  z-index: 3;
  opacity: 1;
  font-size: 25px;
  font-weight: bold;
}

.card {
  /* border:2px solid hsla(40, 97%, 48%, 0.876); */
  position: relative;
  top: 12px;
  display: flex;
  gap: 21px;
  width: 75vw;
  height: 75vh;
}

.card .card1 {
  /* border:2px solid red; */
  background: linear-gradient(140deg, #5140b1c3, #1f237a, #293278c2, #6b241bb9, #480108c5);
  border-radius: 16px;
  position: inherit;
  top: 19px;
  left: -2px;
  width: 18vw;
  height: 55vh;
}

.card1 h3 {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 15px;
  z-index: 3;
  opacity: 1;
  color: white;

}

.card1 P {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 15px;
  position: inherit;
  top: 25px;
  padding: 0;
  color: rgba(255, 255, 255, 0.963);
  font-size: 1.025rem;
  font-weight: 400;
}

.card .card2 {
  /* border:2px solid red; */
  background: linear-gradient(140deg, #5140b1c3, #1f237a, #293278c2, #6b241bb9, #480108c5);
  border-radius: 1rem;
  ;
  position: inherit;
  top: 19px;
  /* left:12px; */
  width: 19vw;
  height: 55vh;
}

.card2 h3 {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 12px;
  z-index: 3;
  opacity: 1;
  color: white;

}

.card2 P {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 15px;
  position: inherit;
  top: 25px;
  padding: 0;
  color: rgba(255, 255, 255, 0.963);
  font-size: 1.025rem;
  font-weight: 400;
}

.card .card3 {
  /* border:2px solid red; */
  background: linear-gradient(140deg, #5140b1c3, #1f237a, #293278c2, #6b241bb9, #480108c5);
  border-radius: 1rem;
  ;
  position: inherit;
  top: 19px;
  left: -2px;
  width: 18vw;
  height: 55vh;
}

.card3 h3 {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 15px;
  z-index: 3;
  opacity: 1;
  color: white;

}

.card3 P {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 15px;
  position: inherit;
  top: 25px;
  padding: 0;
  color: rgba(255, 255, 255, 0.963);
  font-size: 1.025rem;
  font-weight: 400;
}

.card .card4 {
  /* border:2px solid red; */
  background: linear-gradient(140deg, #5140b1c3, #1f237a, #293278c2, #6b241bb9, #480108c5);
  border-radius: 1rem;
  ;
  position: inherit;
  top: 19px;
  left: -2px;
  width: 18vw;
  height: 55vh;
}

.card4 h3 {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 15px;
  z-index: 3;
  opacity: 1;
  color: white;

}

.card4 P {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 15px;
  position: inherit;
  top: 25px;
  padding: 0;
  color: rgba(255, 255, 255, 0.963);
  font-size: 1.025rem;
  font-weight: 400;
}
.ques{
  /* border:2px solid red; */
  padding:20px;
  margin: 23px;
  position: relative;
  bottom:12vh;
  width: 75vw;
  left: 120px;
  height: 80vh;
}
.que1 h2{
   font-size:25px;
   font-weight:150;
   color:white;
   filter:brightness(100%);
}
.que2 button{
  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:15px;
  width:75vw;
  height: 12vh;
  text-align: left;
  padding-left:20px;
  cursor: pointer;

}
.ques button:hover{
  background-color:rgb(97, 95, 95);
  transform: scale(1.0075);
}
.que3 button{

  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:25px;
  width:75vw;
  height: 12vh;
  text-align: left;
  padding-left:20px;

}
.que4 button{

  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:35px;
  width:75vw;
  height: 12vh;
  padding-left:20px;
  text-align:left;

 
}
.que5 button{
  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:45px;
  width:75vw;
  height: 12vh;
  text-align: left;
  padding-left:20px;

}
.que6 button{
  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:55px;
  width:75vw;
  height: 12vh;
  text-align: left;
  padding-left:20px;

}
.que7 button{
  font-size:20px;
  font-weight:100;
  background-color:rgb(67, 67, 67) ;
  color:white;
  position:relative;
  top:65px;
  width:75vw;
  height: 12vh;
  text-align: left;
  padding-left:20px;

}
.bottom{
  padding: 120px;
  position:relative;
  top:40px;
  left:125px;
  /* border:2px solid red; */
  width:60vw;
  height: 30vh;

}
.line{
  color:white;
  position: inherit;
  bottom:90px;
  right:5rem;
  font-size:18px;
  font-weight:100;
  opacity:1 ;
}
.words{
      display: grid;
      grid-template-columns: repeat(4, 140px); /* 3 equal-width columns */
      row-gap:1rem;
      column-gap:10rem;
      max-width: 600px;
      position:relative;
      right:100px;
      bottom:40px;
      color:white;
      text-align: center;
}
.words a{
  color:white;
  cursor: pointer;
  font-size:15px;
}
.language-selector2{
  position:relative;
  bottom:120px;
  left:30vh;
  display: inline-flex;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-family: Arial, sans-serif;
}
.language-selector2 select{
background-color: #1a1a1a;
color:white;
border:none;
font-size:16px;
}
.net{
  font-size:15px;
  position:relative;
  left:160px;
  bottom:90px;
  color:white;
}
.net .p2{
  margin-top:40px;
}
.net .p2 a{
  color:#030ffa
}


