nav{
    color:rgb(114, 197, 225);
}
 * {
        margin: 0;
        padding: 0;
    }

    
    nav {
        margin: 5px;
        padding: auto;
        height: 50px;
        width: 400px;

    }
     
    .value{
        
        border:2px;
        display:inline-block;
    }
   